@page
@model GestionHopital.Pages_Medecins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medecin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Sexe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medecin.Specialite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medecin.Specialite)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medecin.Id" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Retour</a>
</div>
