@page
@model GestionHopital.Pages_Consultations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Poids)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Poids)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Hauteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Hauteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Diagnostique)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Diagnostique)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Date_Consultation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Date_Consultation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Medecin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Medecin.Nom_Complet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Patient.Nom_Complet)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consultation.Id" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Retour</a>
</div>
